:root {
  --white: #ffffff;
  --black: #000000;
  --active: #2196F3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --gray-bgc: #f5f4fa;
  --background-dark:#2F303A;
  --ctcs: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--white);
  }

/* Navigation*/
.navidiv .link {
  color: var(--primary-text);
  font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

/* logo*/

.logo {
color:var(--active);
}

.logo-header {
color: var(--black);
text-decoration: none;
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700; 
font-size: 26px;
line-height: 1.19;
}

.logo:hover,
.logo:focus {
color: var(--active);
}

.list 
{list-style: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

/*address*/
.link {
color:var(--secondary-text);
font-weight: 500;
font-size: 14px;
font-style: normal;
text-decoration: none;
}

.contacts-list .link {color: var(--secondary-text);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;}

.link:hover,
.link:focus {
color: var(--active);
}

/*Main*/

.effective-desisions {
  background-color: var(--secondary-text);
  text-align: center;
}

.effective-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/*button*/
.button {
  color: var(--white);
  background-color: var(--active);
  border-color: var(--active);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-decoration: none;
}

.buttons {
  color: var(--primary-text);
  background-color: var(--gray-bgc);
  border-color: var(--gray-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-decoration: none;
}

.invisible-title {color: var(--white)}

.buttons:hover {
background-color: var(--active);
color: var(--white);
}

.buttons:focus{
color:var(--white)
}

/*advantages*/

.advantages-list .item {
width: 270px;
}

.advantages-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.advantages-text {
color: var(--secondary-text);
font-size: 14px;
line-height: 1.71;
}

/*what we do*/
  
.service-title {
color: var(--primary-text);
font-size: 36px;
line-height: 1.16;
text-align: center;
}

/*Team*/
.our-team {
background-color: var(--gray-bgc);
font-size: 16px;
}

.our-team .item
{
align-items: center;}
  
.team-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--primary-text)}

.team-name {
font-weight: 500;
font-size: 16px;
font-style: normal;
letter-spacing: 0.03em;
line-height: 1.18;
color: var(--primary-text);
}
 
.function {
color: var(--secondary-text);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
margin-bottom: 30px;
}

/*footer*/

.footer {
background-color:var(--background-dark);
}

.footer .logo-header {
  color: var(--white);
}

.footer, .address, .link {
font-style: normal;
}

.address {color: var(--white);
font-size: 14px;
line-height: 1.71;
font-style: normal;
}

.address .link {
color:var(--ctcs);
text-decoration: none;
}

.street {text-decoration: none;
color: var(--white);}

/*porfolio*/

.nav-list .buttons {
  color: var(--primary-text);
  background-color: var(--gray-bgc);
  border-color: var(--gray-bgc);
	border-radius: 4px;
	font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  align-items: center;
  }

.nav-list  .examples-list {list-style: none;}

.nav-list .buttons:hover,
.nav-list .buttons:focus {
  color: var(--white);
  background-color:var(--active);}

 .examples-title {
 color: var(--primary-text);
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;
 }
  
.examples-text {
color: var(--secondary-text);
font-size: 16px;
line-height: 1.87;
}